/* .footer {
    background-color: #000;
    color: #FFF;
    padding: 20px 20px;
    text-align: center;
} */

/* Footer feito do curso */
.footer {
    background-color: #000;
    color: #FFF;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}